@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body, html {
    height:fit-content;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: brown;
}
.falling-leaves {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%,0%);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/sidebar-bg.png) no-repeat center center;
    background-size: cover;
    overflow-x:hidden;
}
  
.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;}

.leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/leaf.svg) no-repeat;
    background-size: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
}
#logo{
    /* height: 10rem;
    width: 25rem; */
}
.title{
    font-size: 2rem;
    padding-bottom: 0%;
}


.subtitle{
    font-size: 1rem;
    margin-bottom: 2em;
    margin-top: 0%;
}
.link-tree{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
a{
    text-decoration: none;
    border: none;
}

.link{
    z-index: 10;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1.2em;
    padding: .85em 1.25em;
    background-color: rgba(150, 75, 0, 0.5);
    box-shadow: 4px 4px 2px rgba(150, 75, 0, 0.12);
    border-radius: 5px;
    transition: all 250ms;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.link:hover{
    background-color: rgba(150, 75, 0, 0.8);
    transform: scale(1.05);
}
.fa-brands{
    font-size: 1.3em;
    margin-bottom: 0.2em;
}
.copyright{
    color:#000;
}
@media (min-width:400px) {
    body{
        height: 100%;
    }
    .link-tree{
        margin: 0 auto;
        width: 400px;
    }
}
